
body{
    background-color:  #f1fcff;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: scroll;
    white-space: nowrap;
    overflow: scroll;
}


h1{
    margin-top: 0px;
    padding-left: 30px;
    position: absolute;
    top: 35%;
    left: 30%;
    font-family: Tangerine, cursive;
    font-size: 5em;
    color: #352f2f;
}

p{
    padding-left: 30px;
    position: absolute;
    top:55%;
    left: 40%;
    font-size: 1.3em;
    color: #352f2f;
}

div.header{
    position: absolute;
    height: 27em;
    background-color: #ddf6ff;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: scroll;
    
}

#logo{
    height:auto;
    padding-left:20px;
    position: absolute;
    right:70%;
    top:15%;
    width:300px;
}



