
body{
    background-color:  #f1fcff /*#7bbddb*/;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1{
    margin-top: 0px;
    position: absolute;
    top: 30%;
    left: 30%;
    font-family: Tangerine, cursive;
    font-size: 6em;
    color: #352f2f;
}

p{
    position: absolute;
    top:55%;
    left: 42%;
    font-size: 1.25em;
    color: #352f2f;
}

div.header{
    position: absolute;
    height: 27em;
    background-color: #ddf6ff;
    width: 100%;
    text-align: center;
    
}

#logo{
    width:25%;
    height:20em;
    padding-top: 3em;
    padding-right:60em;
    
}



