
body{
    background-color: #7bbddb;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1{
    margin-top: 0px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p{
    position: absolute;
    top:85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.header{
    position: absolute;
    height: 30em;
    background-color: white;
    width: 100%;
    text-align: center;
    
}

#logo{
    position:relative;
    width:25%;
    height:20em;
    padding-top: 5em;
}



