
body{
    background-color:  #f1fcff;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: scroll;
    white-space: nowrap;
}


h1{
    position: relative;
    float:top;
    font-family: Tangerine, cursive;
    font-size: 5em;
    color: #352f2f;
    margin-bottom: 20px;
}

p{
    margin-top: 20px;
    position: relative;
    float: bottom;
    font-size: 1.3em;
    color: #352f2f;
}

div.header{
    float: top;
    /*position: absolute;*/
    height: 27em;
    background-color: #ddf6ff;
    width: 1150px;
    text-align: center;
    white-space: nowrap;
    overflow: scroll;
    
}

.logoImage{
    height:auto;
    padding-left:20px;
    margin-right: 20px;
    position: relative;
    float:left;
    top:15%;
    width:300px;
}

div.logoWords{
    position: relative;
    float: right;
    padding-left:10px;
    right: 200px;
    top:100px;
}

div.middleContainer{
    position: relative;
    display:block;
    float:bottom;
    height: 200px;
    width: 200px;
    background-color: red;
}

div.bottomContainer{
    position: relative;
    float: bottom;
    height: 200px;
    width: 200px;
    background-color: blue;
}



